@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

.header{
    text-align: center;
    font-family: Poppins;
    color: #646681;
    font-weight: 900;
}