@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');


.items-list{
    align-items: center;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: small;
    
}

.items-text{
    width: 100%;
    display: flex;
    align-items: center;
}


.items-text p {
    margin-left: 15px;
}

.items-btn{
    padding-left: 1%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;

}

.items-btn{
    width: 15%;
}

.before{
    color: lightgrey;
}

.after{
    color: black
}