@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

.items{
    background-color: #d6d7dc;
    font-family: Poppins;
    font-size: 13px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 2%;
    border-radius: 10px;

}

.items-list{

    align-items: center;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    
    
}

.items-btn{
    padding-left: 1%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;

}

button{
    background-color: #d6d7dc;
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 10x;
}
